.main__menu-button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
    color: rgba(150, 0, 0, 1);
    background-color: transparent;
    border: 3px solid rgba(100, 0, 0, 1);
    border-radius: 10px;
}

.main__menu-button:hover {
    background-color: rgba(255, 200, 200, 0.8);
    box-shadow: 10px 10px 10px #aaa;
    border-color: #ffa;
}