.calculator__form__result {
    border: 0;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    border: 1px dashed rgba(170, 0, 0, 1);
}