.calculator__form__result {
    border: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px dashed rgba(170, 0, 0, 1);
}

.calculator__form__result::selection {
    background-color: #ffa;
}